.grass {
  width: 120px;
  height: 100px;
  background-color: green;
}

.gole {
  width: 120px;
  height: 100px;
  background-color: azure;
}

.ball {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  background-color: black;
}
